@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2E9ED;
    color: #3C3C3C;
    margin: 30px;
    max-width: 95%;
}

h1 {
    text-align: center;
    color: #1E3B5A; 
}

h2, h3 {
    background-color: #1E3B5A; 
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
}

nav {
    background-color: #FF80AB; 
    display: flex;
    border-radius: 20px;
}

.navsplit {
    flex: 1;
}

.navsplit a {
    display: block;
    text-decoration: none;
    color: #FFFFFF; /* White */
    padding: 10px;
    text-align: center;
}

.navsplit a:hover {
    background-color: #1E3B5A
}

.spotifylogo, .spotifywrapped {
    max-width: 20%;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    order: -1;
}

.about {
    display: flex;
    margin-bottom: 20px;
}

.topfive, .topsongs {
    max-width: 50%; 
    padding: 10px;
    order: -1;
}

.minutes, .genere {
    font-size: 40px;
    text-align: center;
    color: #3C3C3C;
    background-color: #FF80AB; 
    max-width: 400px;
    border-radius: 20px;
    padding: 10px;
}

.linked {
    color: #074664; 
}

.beachhead, .winterstock{
    max-width: 100%; 
    padding: 10px;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.tccontainer,.tscontainer {
    display: flex;
    justify-content: space-between;
   
}

.tcfacts, .tsfacts{
    max-width: 45%; 
    width: 100%;
    margin-right: 5%;
    overflow: hidden;
}

.tylerchilders, .taylorswift{ 
    max-width: 70%;
    max-height: 450px;
}

.lyricstc, .lyricsts {
    display: flex;
    justify-content: space-between;
   
}

.tclyrics,.tslyrics{
    max-width: 60%; 
    margin-right: 5%;
    overflow: hidden;
}

.poolsummer, .wintersunset {
    max-width: 45%; 
    width: 100%;
    margin-right: 5%;
    overflow: hidden;
}

.summerrecs, .winterrecs {
    display: block;
    max-width: 50%;
    margin: 0 auto; 
}

.skiptocontent {
    position:fixed;
    top: 10px;
    left: 10px;
    background-color: #1E3B5A;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.skiptocontent:hover {
    background-color: #000000;
}

.mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.mode-switch-label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
}

.mode-switch-label::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .mode-switch-label {
    background-color: #333;
}

input[type="checkbox"]:checked + .mode-switch-label::after {
    transform: translateX(20px);
}


.darkmode {
    background-color: #1e1e1e;
    color: #eee;
}

.darkmode h1 {
    color:#FF80AB;
}

.darkmode h2, .darkmode h3 {
    background-color: #333;
}

.darkmode nav {
    background-color: #122947;
}
.darkmode .linked {
    color: #eee;

}


@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column;
    }

    .about p {
        flex: 1;
    }
}





