body {
     background-color: #f5f5f5;
     color: #333333;
     margin: 10px;
     font-size: 16px;
 }
 
 h1, h2 {
     background-color: #ff5d8f;
     color: #000000;
     font-size: 1.5em;
 }
 
 .mainheading {
     text-align: center;
     margin-bottom: 20px;
     font-size: 2em;
 }
 
 .intro {
     margin: 35px;
 }
 
 a:visited {
     color: #000080;
 }
 
 a:hover {
     color: #000000;
 }
 
 nav {
     background-color: #ff87ab;
     padding: 10px;
     margin-bottom: 30px;
     color: #333333; /* Darker text color for better readability */
 }
 
 nav a {
     color: #ffffff;
 }
 
 nav a:hover {
     background-color:#f0f8ff;
     color: #000000; /* Adjusted text color for better contrast on hover */
 }
 
 
 .quote {
     float: right;
     margin-top: 0px;
 }
 
 .row1,
 .row2 {
     display: flex;
     margin-bottom: 20px;
     padding: 10px;
     border-radius: 10px;
     background-color: #ff5d8f;
 }
 
 .row1 div,
 .row2 div {
     flex: 1;
     margin-right: 20px;
 }
 
 .flexbox1 {
     display: flex;
     flex: 3;
     justify-content: space-between;
     margin: 30px;
 }
 
 .aside {
     background-color: #ff87ab;
     border-radius: 15px;
     flex: 1;
     padding: 20px;
 }
 
 .flexbox2 {
     display: flex;
     margin: 50px;
 }
 
 .headerimg {
     max-width: 100%;
 }
 
 .map {
     max-width: 100%;
 }
 
 @media only screen and (max-width: 800px) {
     nav a {
         width: 100%;
         display: block;
     }
 
     nav span {
         display: none;
     }
 
     nav a {
         margin: 10px;
     }
 }
 
 .skip {
     background-color: #4287f5; /* New color */
     color: #ffffff; /* Adjusted text color for better contrast */
     padding: 4px 8px;
     border: 2px solid #000000;
     text-decoration: none;
     position: absolute;
     top: 10px;
     right: 10px;
 }
 
 .skip:focus {
     right: 10px;
 }
 